#header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 64px;
    color: rgb(75, 75, 75);
    background-color: rgb(255, 255, 255);
    z-index: 2;
}
#header > h4 {
    margin: 0;
}

#filterSection {
    padding: 16px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    z-index: 1;
}
#filterBtns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.filter {
    display: flex;
    flex-direction: column;
    min-height: 32px;
    margin-bottom: 16px;
}
.filterTitle {
    color: rgb(75, 75, 75);
    font-size: 14px;
}
#filterAge,
#filterGender {
    margin-left: 16px;
}
#filterGender label:nth-child(n + 2) {
    margin-left: 8px;
}
#matchAmount {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
}
input[type="number"] {
    width: 32px;
}

#matchList {
    height: calc(100vh - 64px - 238px);
    padding-bottom: 16px;
    overflow-x: auto;
}
.matchListItem {
    display: flex;
    height: 64px;
    padding: 16px;
}
.matchListItem > img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}
.matchListItem > .matchListItemInfo {
    display: flex;
    flex-direction: column;
    margin-left: 16px; 
    text-transform:capitalize;
}

#matchDetail {
    display: none;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.25);
}
#matchDetailCard {
    background-color: rgb(255, 255, 255);
}